# Series

In [1]:
import pandas as pd
x = pd.Series(index = range(5), data=[1,3,9,11,12])
x

0     1
1     3
2     9
3    11
4    12
dtype: int64

# Dataframe

In [5]:
df = pd.DataFrame({'col1': [1,3,11,2], 'col2': [9,23,0,2]})
df

   col1  col2
0     1     9
1     3    23
2    11     0
3     2     2